body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.big-letters {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.letter {
    font-size: 200vh; /* Adjust the font size as needed */
    margin: 0.2em; /* Adjust the letter spacing as needed */
    border: 5px solid white; /* Border color */
    padding: 0.5em; /* Optional: Add some padding around the letter */
}

/* Custom styles for each letter */
.l {
    color: #FFFFFF; /* White color for the letter */
}

.s {
    color: #FFFFFF; /* White color for the letter */
}

.b {
    color: #FFFFFF; /* White color for the letter */
}
